/* Type-based */
GtkW {
    transition: 500ms;
}

GtkOverlay:disabled {
    color: rgba(255, 255, 255, 0);
}

/* ID-based */

#float-button {
    border-radius: 25px;
    font-size: 24px;
}

/*
#main-window {
    background-color: #263838;
    color: white
}
*/


/* Class-based */

.popover-label {
    color: #888888
}

.fade {
    opacity: 0;
    transition: 200ms;
}

.fade:active {
    opacity: 1;
}

.tabs {
    background-color: #FFFFFF;
}

.monospace {
    font: 12px "Monospace"
}